.underline {
	text-decoration:underline; 
}
.icon_btn_edit {
	background: url("../images/btn_edit_activity.png") 0 no-repeat; 
	cursor: pointer;
	height:18px; 
	width:24px; 
	display:inline-block;
	position: relative;
	float:left;
	margin-left:10px;
}
.icon_show_activity {
    background: url(../images/btn_show_activity.png) no-repeat 0 ;
	height:18px; 
	width:24px; 
	display:inline-block;
	position: relative;
	float:left;
	margin-left:10px;
}